<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="Workbench"
		  connectionString="Server=127.0.0.1; Database=db_infocare_project;User ID=root;Password=ashlieKim;"
          providerName="MySql.Data.MySqlClient"
		/>

		<add
		   name="Xampp"
		   connectionString="Server=192.168.219.43; Database=db_infocare_project;User ID=remote_user; Password=infocare;"
		   providerName="MySql.Data.MySqlClient"
		/>
	</connectionStrings>
</configuration>